<div id="crud-snippets-container">
  {{#if viewData.snippets.length }}
  {{#each viewData.snippets}}
  <div class="snippet">
    <div class="snippet-header">
      <h4>{{this.username}}</h4>
      {{#if this.owner}}
      <a href="./{{this.id}}/edit">Edit</a>
      <a href="./{{this.id}}/remove" class="snippet-remove">Delete</a>
      {{/if}}
    </div>
    <div class="snippet-content">
      <p>{{this.message}}</p>
    </div>
    <div class="snippet-footer">
      <time class="snippet-time">{{this.createdAt}}</time>
    </div>
  </div>
  {{/each}}
  {{else}}
  <p class="information">There are no snippets made. Try create one.</p>
  {{/if}}
</div>

{{>flash}}

{{#if username }}
<form class="snippet-form" method="post" action="./create">
  <label for="message">Write your message here:</label>
  <textarea id="message" name="message" placeholder="What are you doing right now, {{ username }}?" required="required"
    autofocus="autofocus"></textarea>
  <button type="submit">Post</button>
  {{else}}
  <p>It seems like you are not logged in. To be able to post here you need to be logged in on an account.</p>
  <a href="./account/login">Log in</a>
  <p>Don't have an account?</p>
  <a href="./account/registration">Create account</a>
  {{/if}}
</form>